* {
    font-family: cursive;
}

a {
    text-decoration: none;
}

.topwrapper {
    background-image: url(https://animal-penguin.github.io/animal_penguin.github.io/darthvader.jpg);
    background-size: cover;
    padding: 180px 0 350px 0;
}

.welcome {
    width: 1000px;
    height: 100px;
    margin: auto;
}

.welcome h1 {
    font-size: 50px;
}

.welcome h2 {
    font-size: 35px;
}

.background-container {
    background-color: #000033;
    padding-top: 100px;
    width: 100%;
    height: 1200px;
    position: relative;
}

.main-container {
    width: 1100px;
    height: 1000px;
    background-color: white;
    margin: auto;
    padding-top: 100px;
}

.titlelogo {
    width: 1000px;
    height: 200px;
    margin: auto;
    text-align: center;
}

.postarea {
    width: 500px;
    margin: auto;
    text-align: center;
    /*display: none;*/
}

.postarea h3 {
    text-align: left;
    border-bottom: 10px solid red;
}

.newpost {
    width: 500px;
}

.toystory {
    width: auto;
    height: auto;
    max-width: 50%;
}

.toystory-active {
    width: auto;
    height: auto;
    max-width: 60%;
}

.etc {
    width: 500px;
    margin: 60px auto 0 auto;
    text-align: center;
}

/*.btn {
    display: none;
    margin-top: 100px;
}*/

.rightside {
    width: 200px;
    height: 1000px;
    position: absolute;
    top: 100px;
    right: 100px;
}

.rightside-title {
    color: red;
    border-bottom: 5px solid #FF6699;
}

.rightside p {
    color: coral;
}

.pixkup {
    width: 150px;
    height: 150px;
    margin: auto;
    text-align: center;
}

.pixkup img {
    width: auto;
    height: auto;
    max-width: 100%;
}

.pixkup p {
    color: coral;
}
